<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>Bad Part/Mfr Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body>

    <body>
        <div class="container-fluid">
            <div class="row panels ng-scope">
                <div class="row">
                    <!-- ngIf: adminFilter == 'lifecycle-editor' -->
                    <div class="col-lg-12 ng-scope" ng-if="adminFilter == 'lifecycle-editor'" data-restrict=""
                        access="bom">
                        <div class="bom-manufacturer-maintenance ng-isolate-scope">
                            <style>
                                body {
                                    overflow: hidden;
                                }

                                .panels .left-panel,
                                .panel .right-panel {
                                    height: 500px;
                                    overflow: auto;
                                }

                                .panels .left-panel tr.active>td {
                                    background-color: #e8e8e8;
                                }

                                .panels .left-panel table {
                                    table-layout: fixed;
                                    word-wrap: break-word;
                                }
                            </style>
                              <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row" style="padding: 5px 15px 5px 15px;">
                                        <div class="col-xs-2 col-lg-1">
                                            <i class="fa fa-signal fa-5x"></i>
                                        </div>
                                        <div class="col-xs-10 col-lg-9" style="justify-content: center;">
                                            <h1 class="nomargin-nopadding">
                                                Bad Part/Mfr Admin
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="left-panel col-xs-6">
                                                    <div class="row">
                                                        <div class="well col-xs-12">
                                                            <div class="col-xs-12 col-sm-8">
                                                            	<div class="row">
                                                                    <div class="form-group input-group has-feedback">
                                                                        <input
                                                                            class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                                            type="text" ng-model="searchString"
                                                                            name="searchString"
                                                                            placeholder="Filter Part,Manufacturer"
                                                                            ng-keyup="$event.keyCode == 13 &amp;&amp; vm.filterChange(searchString)"
                                                                            ng-model-options="{debounce: { 'default': 250}}">
                                                                        <span ng-show="searchString.length > 0"
                                                                            class="glyphicon glyphicon-remove form-control-feedback clickable form-control-feedback-with-btn ng-hide"
                                                                            style="pointer-events: initial;"
                                                                            uib-tooltip="Clear Search"
                                                                            tooltip-placement="bottom"
                                                                            ng-click="searchString = ''; vm.filterChange(searchString) &amp;&amp; clearSearch();"></span>
                                                                        <div class="input-group-btn">
                                                                            <button type="button"
                                                                                ng-click="vm.filterChange(searchString)"
                                                                                class="btn btn-default btn-primary btn-raised searchButton">Go!</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                         <div class="row">
                                                        <div class="well col-xs-12">
                                                            <table class="table table-striped table-hover"
                                                                ng-hide="vm.listData == null || vm.listData.length == 0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Date</th>
                                                                        <th>Part Number</th>
                                                                        <th>Manufacturer</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!-- ngRepeat: item in vm.listData | filter:vm.searchString -->
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-01-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA128UA</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">MAXIM</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-10-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                               01-20-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding"></div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">Digikey</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-01-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA128UA</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">MAXIM</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-10-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                               01-20-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding"></div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">Digikey</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-01-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA128UA</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">MAXIM</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-10-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                               01-20-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding"></div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">Digikey</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-01-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA128UA</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">MAXIM</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                                01-10-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">INA</div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-repeat="item in vm.listData | filter:vm.searchString"
                                                                        ng-class="{active: vm.activeRowId === item.PartStatusManufacturer_id}"
                                                                        ng-click="vm.changeValue(item.PartStatusManufacturer_id)"
                                                                        class="ng-scope">
                                                                        <td>
                                                                            <div ng-init="date = vm.dateFormatted(item.DateAdd)"
                                                                                class="ng-binding">
                                                                               01-20-2020</div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding"></div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="ng-binding">Digikey</div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                      </div>
                                            </div>
                                                  <div class="right-panel col-xs-6">
                                                    <form class="well ng-valid ng-dirty ng-valid-parse" name="userform"
                                                        autocomplete="off">
                                                        <div class="row">
                                                            <div class="form-group col-sm-3">
                                                                Date
                                                            </div>
                                                            <div class="col-sm-6 ng-binding">
                                                                01-01-2020
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                Part Number
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group input-group has-feedback">
                                                                    <input
                                                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                                                        type="text" ng-model="vm.newData.PnStrip"
                                                                        ng-model-options="{debounce: { 'default': 250}}">
                                                                    <div class="input-group-btn">
                                                                        <button type="button"
                                                                            class="btn btn-default btn-primary btn-raised searchButton">
                                                                            Bad Part/Mfr
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                Manufacturer
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group input-group has-feedback">
                                                                    <input
                                                                        class="form-control ng-pristine ng-untouched ng-valid ng-not-empty"
                                                                        type="text"
                                                                        ng-model="vm.newData.ManufacturerName"
                                                                        ng-model-options="{debounce: { 'default': 250}}">
                                                                    <div class="input-group-btn">
                                                                       <button type="button"class="btn btn-default btn-primary btn-raised searchButton" data-toggle="tooltip" 
                                                                       data-placement="right" title="BadPartManufacturer contains one of the following:--Bad Part Number:PNStrip+ Manufacturer_id=NULL--Bad Manufacturer:ManufacturerName+PNStrip=NULL
                                                                       --Bad Part/Mfr Combination:PnStrip+Manufacturer_id">
                                                                            Mfr/Admin
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <button type="button" class="btn btn-default"
                                                                    ng-click="vm.add(vm.newData)">Add</button>
                                                                <button type="button" class="btn btn-default"
                                                                    ng-click="vm.delete(vm.newData)">Delete</button>
                                                            </div>
                                                            <div class="col-xs-4"></div>
                                                            <div class="col-xs-4">
                                                                <button type="button" class="btn btn-default"
                                                                    ng-click="vm.save(vm.newData)">Save</button>
                                                                <button type="button"
                                                                    class="btn btn-default">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                    </div><!-- end ngIf: adminFilter == 'lifecycle-editor' -->
                    <!-- ngIf: adminFilter == 'manufacturer-editor' -->
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
    </body>

</body>

</html>